<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Customers</title>
<link rel="stylesheet"
	href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
<link rel="stylesheet"
	href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link type="text/css" rel="stylesheet" href="~/css/styles.css"
	th:href="@{~/css/styles.css}" />
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<style type="text/css"></style>
<script type="text/javascript">
	$(document).ready(function() {
		$('[data-toggle="tooltip"]').tooltip();
	});
</script>
</head>
<body>
	<div class="container">
		<div class="table-wrapper">
			<div class="table-title">
				<div class="row">
					<div class="col-sm-4">
						<h2>Lisää kommentti</h2>
					</div>
					<div class="col-sm-8">
						<a th:href="@{/customers}" class="btn btn-danger"><<span>Kirjaudu ulos</span></a> 
						<a th:href="@{/customers}" class="btn btn-info"> <span>Etusivulle</span></a>
						<a th:href="@{/editcustomer/{customerId}(customerId=${customer.customerId})}" class="btn btn-info"> <span>Muokkaa</span></a>
					</div>
				</div>
			</div>

			<table th:object="${customer}" class="table table-striped">
				<thead>
					<th>Ravintola</th>
					<th>Yritys</th>
					<th>Y-tunnus</th>
					<th>Puhelin</th>
					<th>Sähköposti</th>
					<th>Kotisivut</th>
					<th>Osoite</th>
					<th>Postinumero</th>
					<th>Yhteyshenkilö</th>
					<th>Kaupunki</th>
				</thead>
				<tbody>
					<td th:text="${customer.restaurant}"></td>
					<td th:text="${customer.company}"></td>
					<td th:text="${customer.vatNumber}"></td>
					<td th:text="${customer.phone}"></td>
					<td th:text="${customer.email}"></td>
					<td th:text="${customer.url}"></td>
					<td th:text="${customer.address}"></td>
					<td th:text="${customer.postalcode}"></td>
					<td th:text="${customer.contactPerson}"></td>
					<td>
					</tr>
				</tbody>
			</table>


			<h3>Kirjoita kommentti:</h3>
			<form th:object="${comment}" th:action="@{/customer/{customerId}/addcomment}" action="#"
				method="post">
				
				<textarea name="comment" cols="120" rows="5"></textarea>
				<br> <input class="btn btn-primary" type="submit" value="Lisää" />
			</form>


</body>
</html>