<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Customers</title>
<link rel="stylesheet"
	href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
<link rel="stylesheet"
	href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link type="text/css" rel="stylesheet" href="~/css/styles.css"
	th:href="@{~/css/styles.css}" />

</head>
<body>
	<div class="container">
		<div class="table-wrapper">
			<div class="table-title">
				<div class="row">
					<div class="col-sm-4">
						<h2 th:text="${customer.restaurant}"></h2>
					</div>
					<div class="col-sm-8">
						<a th:href="@{/customers}" class="btn btn-danger"><span>Kirjaudu ulos</span></a> 
						<a th:href="@{/customers}" class="btn btn-info"> <span>Etusivulle</span></a>
						<a th:href="@{/editcustomer/{customerId}(customerId=${customer.customerId})}" class="btn btn-info"> <span>Muokkaa asiakasta</span></a>
						<h3 th:inline="text"><span sec:authorize="isAuthenticated()">Welcome</span>&nbsp;[[${#httpServletRequest.remoteUser}]]</h3>
					</div>
				</div>
			</div>

			<table th:object="${customer}" class="table table-striped">
				<thead>
					<th>Ravintola</th>
					<th>Yritys</th>
					<th>Y-tunnus</th>
					<th>Puhelin</th>
					<th>Sähköposti</th>
					<th>Kotisivut</th>
					<th>Osoite</th>
					<th>Postinumero</th>
					<th>Yhteyshenkilö</th>
					<th>Kaupunki</th>
				</thead>
				<tbody>
					<td th:text="${customer.restaurant}"></td>
					<td th:text="${customer.company}"></td>
					<td th:text="${customer.vatNumber}"></td>
					<td th:text="${customer.phone}"></td>
					<td th:text="${customer.email}"></td>
					<td th:text="${customer.url}"></td>
					<td th:text="${customer.address}"></td>
					<td th:text="${customer.postalcode}"></td>
					<td th:text="${customer.contactPerson}"></td>
					<td th:text="${customer.city}"></td>
					</tr>
				</tbody>
			</table>

			
			<a th:href="@{/customer/{customerId}/addcomment(customerId=${customer.customerId})}" class="btn btn-info"> <span>Lisää kommentti</span></a>


			<table th:object="${comments}" class="table table-striped">
				<thead>
					<th>Kommentit</th>
				</thead>
				<tbody>
					<tr th:each="comment : ${comments}">
						<td th:text="${comment.comment}"></td>

					</tr>
				</tbody>
			</table>
</body>
</html>

